.login-card {
    content: '';
    background-image: linear-gradient(to bottom right, #3CB371, #98FB98);
}

.navbar {
    content: '';
    background-image: linear-gradient(to bottom right, #3CB371, #98FB98);
}

.accordion-header {
    content: '';
    background-image: linear-gradient(to bottom right, #3CB371, #98FB98);
}